<h1>Editar beneficio</h1>

<%= render "form", tecnico: @tecnico %>

<hr>
<%= link_to "Excluir", @tecnico, method: :delete, data: { confirm: "Tem certeza que deseja exluir \"#{@tecnico.nome}\"?" }, class: "float-right btn btn-danger btn-sm" %>
<%= link_to  "Voltar", technician_path %>