
<header id="header-sigin">
<%= image_tag "brasao-itapetininga.png",  :class => "brasao" %>
  <h1>CREAS</h1>
  <h3 class="text-primary">CENTRO DE REFERÊNCIA ESPECIALIZADO DE ASSISTÊNCIA SOCIAL</h3>
  <h5 class="text-secondary">Secretaria de Promoção Social do Município de Itapetininga-SP<h5>
</header>

<div id="clearance" class="sign-in">
  <!-- <h2><%= t(".title") %></h2> !-->
  <h4>Login</h4>

  <%= render partial: '/sessions/form' %>

</div>
