<h1>Listagem de Cidadãos</h1>

<table class="table">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Situação</th>
    </tr>
    <% @cidadaos.each do |cidadao| %>
        <tr>
            <td><%= cidadao.id %></td>
            <td><%= link_to cidadao.nome, cidadao %></td>
            <td>
                <% if cidadao.ativo %>
                Ativo
                <% else %>
                Inativo
                <% end %>
            </td>
            <td><%= link_to "Editar", edit_person_path(cidadao) %></td>
        </tr>
    <% end %>
</table>

<%= link_to  "Cadastrar Cidadão", new_person_path %>
