<h1>Editar beneficio</h1>

<%= render "form", beneficio: @beneficio %>

<hr>
<%= link_to "Excluir", @beneficio, method: :delete, data: { confirm: "Tem certeza que deseja exluir \"#{@beneficio.nome}\"?" }, class: "float-right btn btn-danger btn-sm" %>
<%= link_to  "Voltar", assistances_path %>
